:root {
  font-size: 16px;
}

$text-color: #666666;
$background-color: #f9f9f9;
$blue-btn-bg: #1A56DB;
$green-btn-bg: #17c236;
$blue-btn-text: #ffffff;
$section-heading-font-size: 2.2rem;
$section-heading-color: #474747;
$small-link-color: #027BFF;
$main-description-font-size: 1rem;
$card-bg: #efefef;

body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
  $section-heading-font-size: 2rem;
  $main-description-font-size: 0.95rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  $section-heading-font-size: 1.8rem;
  $main-description-font-size: 0.9rem;
}

@media (max-width: 550px) {
  :root {
    font-size: 13px;
  }
  $section-heading-font-size: 1.6rem;
  $main-description-font-size: 0.85rem;
}

@media (max-width: 470px) {
  :root {
    font-size: 12px;
  }
  $section-heading-font-size: 1.5rem;
  $main-description-font-size: 0.8rem;
}

@media (max-width: 380px) {
  :root {
    font-size: 11px;
  }
  $section-heading-font-size: 1.4rem;
  $main-description-font-size: 0.75rem;
}

@media (max-width: 320px) {
  :root {
    font-size: 10px;
  }
  $section-heading-font-size: 1.2rem;
  $main-description-font-size: 0.7rem;
}
