@import 'application';

.session_left_img {
  width: 55%;
  background-size: cover;
  filter: brightness(50%);
}

.join-us {
  display: flex;

  &_logo {
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 200px;
  }

  &_right {
    flex: 1;
    display: flex;
    justify-content: center;

    &_already {
      font-size: 0.75rem;
      margin: 15px 10px 10px 0px;
      &_text {
        display: inline-block;
      }
      &_link {
        color: $small-link-color;
        display: inline-block;
      }
    }

    &_card {
      display: flex;
      max-width: 500px;
      text-align: center;
      flex-direction: column;
      border-radius: 10px;
      padding: 20px;

      &_heading {
        font-weight: 500;
        font-size: $section-heading-font-size;
        color: $section-heading-color;
      }

      &_text {
        margin-bottom: 50px;
        font-size: $main-description-font-size;
      }

      &_links_list {
        * {
          background-color: $green-btn-bg;
          padding: 8px 17px 8px 17px;
          margin-right: 5px;
          color: $blue-btn-text;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 1024px){
  .join-us {
    &_logo {
      margin-top: 100px;
    }
  }  
}

@media (max-width: 380px) {
  .join-us_right_card {
    &_text {
      margin-bottom: 30px;
    }

    &_links_list{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      * {
        margin-bottom: 10px;
      }
    }

  }
}